* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px black dotted; */
    font-family: 'Karla', sans-serif;
}

body {
    background-color: #E6EFF5;
    display: flex;
    flex-direction: column;
}

.box {
    width: 636px;
    height: 475px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
    border-radius: 8px;

    margin: 80px auto ;
}

.box-1 {
    width: 636px;
    height: 216px;

    background-color: #ffffff;
    border-radius: 8px;
}

.box-1 h1 {
    font-weight: bold;
    font-size: 24px;
    color: #2AB3B1;
    margin: 40px 0 0 40px;
}

.box-1 h2 {
    font-weight: bold;
    font-size: 18px;
    color: #C0DF33;
}

.box-1 p {
    margin-top: 12px;
    font-size: 16px;
    color: #9AA7BE;
}

.texto-box-1 {
    height: 84px;
    width: 555px;
    margin: 24px 0 0 40px;
}

.box-2 {
    width: 318px;
    height: 259px;
    
    background-color: #2AB3B1;
    color: #ffffff;
}

.box-2 h2 {
    font-weight: bold;
    font-size: 18px;
    margin: 40px 0 0 40px;
}

.preco-box-2 {
    width: 147px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0 0 40px;
}

.preco-box-2 span {
    font-weight: bold;
    font-size: 32px;
}

.preco-box-2 p {
    font-size: 16px;
    opacity: 0.5;
}

.box-2 > p{
    font-size: 16px;
    margin: 4px 40px 40px 40px;
}

.box-2 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-color: #C0DF33;
    padding: 15px 89px;
    margin: 0 40px;
}

.box-3 {
    width: 318px;
    height: 259px;
    
    background-color: #5DBFBC;
    color: #ffffff;
}

.box-3 h2 {
    font-weight: bold;
    font-size: 18px;
    margin: 40px 0 18px 40px;
}

.box-3 p {
    font-size: 14px;
    opacity: 0.75;
    margin: 0 40px 40px 40px;
}